* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#26831A;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal; 
    color: white;
    font-size: 20px;
    position: absolute;
    top: 150px;

}

#text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9 {
    opacity: 0;
}

#caterpillar {
    background-image: url(images/caterpillar.png);
    width: 150px;
    height: 200px;
    top: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

@media screen and (max-width: 1322px) {
    body {
        background-color: #2a901d;
    }
    #text2 {
        opacity: 1;
    }
    #text1, #text3, #text4, #text5, #text6, #text7, #text8, #text9 {
        opacity: 0;
    }
    #caterpillar {
        opacity: 0;
    }
    #caterpillarbuild {
        background-image: url(images/caterpillarbuild.png);
        width: 150px;
        height: 250px;
        top: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
}

@media screen and (max-width: 1204px) {
    body {
        background-color: #4aa520;
    }
    #text3 {
        opacity: 1;
    }
    #text1, #text2, #text4, #text5, #text6, #text7, #text8, #text9 {
        opacity: 0;
    }
    #caterpillar, #caterpillarbuild {
        opacity: 0;
    }
    #caterpillardone {
        background-image: url(images/caterpillardone.png);
        width: 150px;
        height: 250px;
        top: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
}

@media screen and (max-width: 1086px) {
    body {
        background-color: #6ab922;
    }
    #text4 {
        opacity: 1;
    }
    #text1, #text2, #text3, #text5, #text6, #text7, #text8, #text9 {
        opacity: 0;
    }
    #caterpillar, #caterpillarbuild, #caterpillardone {
        opacity: 0;
    }
    #chrysalis {
        background-image: url(images/chrysalis.png);
        width: 150px;
        height: 250px;
        top: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
}

@media screen and (max-width: 968px) {
    body {
        background-color: #8acd25;
    }
    #text5 {
        opacity: 1;
    }
    #text1, #text2, #text3, #text4, #text6, #text7, #text8, #text9 {
        opacity: 0;
    }
    #caterpillar, #caterpillarbuild, #caterpillardone, #chrysalis {
        opacity: 0;
    }
    #chrysaliscooked {
        background-image: url(images/chrysaliscooked.png);
        width: 150px;
        height: 250px;
        top: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
}

@media screen and (max-width: 850px) {
    body {
        background-color: #9ad726;
    }
    #text6 {
        opacity: 1;
    }
    #text1,  #text2, #text3, #text4, #text5, #text7, #text8, #text9 {
        opacity: 0;
    }
    #caterpillar, #caterpillarbuild, #caterpillardone, #chrysalis, #chrysaliscooked {
        opacity: 0;
    }
    #butterflyready {
        background-image: url(images/butterflyready.png);
        width: 150px;
        height: 250px;
        top: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
}

@media screen and (max-width: 732px) {
    body {
        background-color: #a9e127;
    }
    #text7 {
        opacity: 1;
    }
    #text1, #text2, #text3, #text4, #text5, #text6, #text8, #text9 {
        opacity: 0;
    }
    #caterpillar, #caterpillarbuild, #caterpillardone, #chrysalis, #chrysaliscooked, #butterflyready {
        opacity: 0;
    }
    #butterflyhatch {
        background-image: url(images/butterflyhatch.png);
        width: 275px;
        height: 250px;
        top: 200px;
        left: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
}

@media screen and (max-width: 614px) {
    body {
        background-color: #c2e326;
    }
    #text8 {
        opacity: 1;
    }
    #text1, #text2, #text3, #text4, #text5, #text6, #text7, #text9 {
        opacity: 0;
    }
    #caterpillar, #caterpillarbuild, #caterpillardone, #chrysalis, #chrysaliscooked, #butterflyready, #butterflyhatch {
        opacity: 0;
    }
    #butterflyout {
        background-image: url(images/butterflyout.png);
        width: 250px;
        height: 430px;
        top: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: #dae425;
    }
    #text9 {
        opacity: 1;
    }
    #text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8 {
        opacity: 0;
    }
    #caterpillar, #caterpillarbuild, #caterpillardone, #chrysalis, #chrysaliscooked, #butterflyready, #butterflyhatch, #butterflyout {
        opacity: 0;
    }
    #butterfly {
        background-image: url(images/butterfly.png);
        width: 400px;
        height: 350px;
        top: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
}
