* {
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-image: url(images/folklore.png);
    background-color:#283030;
    background-blend-mode: multiply;
    background-size: cover; 
    background-position: center;
    position: relative;
    color:#ffffff;
}

h1 {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
    margin: 40px;
    font-size: 35px;
    padding: 50px 0 0 0;
}

p {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 25px;

}

.curious {
    display: inline-block;
}

.curious:hover {
    animation: movecurious 1.5s;
}

@keyframes movecurious {
    0% {transform: translate(0, 0)}
    50% {transform: translate(0, -50px) scale(2,2)}
    100% {transform: translate(0, -0)}
}

.compasses {
    display: inline-block;
}

.compasses:hover {
    animation: spincompasses 1.5s;
}

@keyframes spincompasses {
0% {transform: rotate(0deg)}

100% {transform: rotate(360deg)}
}

.signs {
    display: inline-block;
}

.signs:hover {
    animation: movesigns 2s;
}

@keyframes movesigns {
    0% {opacity: 1; transform: translate(0, 0)}
    100% {opacity: 0; transform: translate(100px, 0)}
}

.clues {
    display: inline-block;
    opacity: 1;
    transition: all 1s;
}

.clues:hover {
    opacity: 0;
    transform: translate();
}

.see {
    display: inline-block;
    opacity: 0;
    transition: all 1s;
}

.see:hover {
    opacity: 1;
}

.pretty {
    display: inline-block;
}

.pretty:hover {
    text-shadow:0px 0px 70px #ffffff;
    transition: all 0.5s ease-in;
}

.allalong {
    display: inline-block;
}

.allalong:hover {
    animation: moveallalong 2s;
}

@keyframes moveallalong {
    0% {opacity: 1; transform: translate(0, 0)}
    100% {opacity: 0; transform: translate(-100px, 0)}
}

.invisible {
    display: inline-block;
    padding: 0 0 0 10px;
    opacity: 0;
    transition: all 2s;
    color: gold;
}

.invisible:hover {
    opacity: 1;
    text-shadow:0px 0px 70px #e1a609;
    transition: all 0.5s ease-in;
}

.heartstring {
    background-image: url(images/heartstring.png);
    width: 125px;
    height: 125px;
    background-size: cover;
    position: absolute;
    right: 620px;
    bottom: -70px;
}