* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    background-image: url(images/twoheadedcalf.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#tomorrow {
    background-image: url(images/freakofnature.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#museum {
    background-image: url(images/newspaper.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#tonight {
    background-image: url(images/alive.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#summer {
    background-image: url(images/evening.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top;
}

#moon {
    background-image: url(images/moon.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top;
}

#sky {
    background-image: url(images/sky.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top;
}

#stars {
    background-image: url(images/twice.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#tomorrowcontainer {
    padding: 0 0 100px 0;
    display: flex;
    align-items:center;
    justify-content:end;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}

#museumcontainer {
    padding: 50px 100px 100px 30px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#tonightcontainer {
    padding: 75px 100px 100px 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#summercontainer {
    padding: 100px;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#mooncontainer {
    padding: 150px 100px 100px 75px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
} 

#skycontainer {
    padding: 450px 200px 100px 100px;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#starscontainer {
    padding: 200px 100px 100px 100px;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#titlecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

body {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 6vw;
    color:#ffff8f;
}

h2{
    font-size: 3vw;
    color: #fefefa;
}

h3 {
    font-size: 2vw;
    color:#ffff8f;
}

#stars h3 {
    color: #4c4c84;
}

#title .nextbtn, #stars .nextbtn {
    color: #ffff8f;
}

#title .nextbtn:hover {
    color: #fefefa
}

#stars .nextbtn:hover {
    color: #4c4c84;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

.backbtn, .nextbtn {
    padding: 20px;
    font-size: 3vw;
    color:#ffff8f;
    text-decoration: none;
}

.backbtn:hover, .nextbtn:hover {
    color:#fefefa;
    text-decoration: none;
}


